---
name: Skayo
job: Web Designer & Developer
fromCountry: from Austria
age: '20'
email: contact@skayo.dev

about: |-
  I am a {age} years old {job} living in Vienna, Austria - Always full of ideas, I love creating websites, start new projects or just try things out! I first started programming back in 2014, when I got a book about making websites using HTML and CSS. Since then I've gained lots of experience just doing what I love and what I'm passionate about - programming. Nowadays I write code on a daily basis and really LOVE doing so!

  If you want to know more about me check out my projects and social media!

projects:
  - name: Svelte Infinite Loading
    type: Library
    link: 'https://github.com/Skayo/svelte-infinite-loading'
  - name: Svelte Tiny Virtual List
    type: Library
    link: 'https://github.com/Skayo/svelte-tiny-virtual-list'
  - name: EightyEighty.js
    type: Emulator
    link: 'https://arcade.skayo.dev'
  - name: Pregramer
    type: Website
    link: 'https://pregramer.link'
  - name: zacktype
    type: Website
    link: 'https://zacktype.skayo.dev'
  - name: Sudoku
    type: Website
    link: 'https://sudoku.skayo.dev'
  - name: Mage
    type: Website
    link: 'https://mage.skayo.dev'

social:
  - name: GitHub
    icon: github
    link: 'https://github.com/Skayo'
  - name: LinkedIn
    icon: linkedin
    link: 'https://www.linkedin.com/in/jonas-geiler'
  - name: Twitter
    icon: twitter
    link: 'https://twitter.com/Skayo_'
  - name: Instagram
    icon: instagram
    link: 'https://instagram.com/skayonas'
---

{{#extend "base"}}
	{{#content "main"}}
		<div class="uk-cover-container uk-light uk-height-viewport" uk-height-viewport>

			<img class="uk-cover uk-animation-fade" alt="Background" uk-cover uk-parallax="y: -50%,-25%; x: -50%,-50%; easing:0"
			     src="../assets/img/background-medium.jpg"
			     sizes="100vw"
			     srcset="../assets/img/background-xlarge.jpg 3895w, ../assets/img/background-large.jpg 2400w, ../assets/img/background-medium.jpg 1920w, ../assets/img/background-small.jpg 640w">

			<div class="uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center">
				<div class="uk-grid uk-flex-center uk-flex-middle uk-flex-column uk-width-1-3@l uk-width-1-2@m uk-width-1-1 uk-animation-fade" uk-grid>

					<div class="uk-width-1-3 uk-margin-bottom">
						<img class="uk-animation-kenburns" id="logo" alt="Skayo Logo" src="../assets/img/logo.svg">
					</div>

					<div class="uk-width-1-5">
						<hr class="uk-divider-small">
					</div>

					<div class="uk-text-center">
						<h1 class="sk-spacing uk-heading-medium uk-text-lighter uk-margin-remove">{{uppercase name}}</h1>
						<h4 class="uk-text-muted uk-margin-remove">{{job}}</h4>
					</div>

				</div>
			</div>

			<div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
				<a class="uk-animation-slide-top-small" href="#content" uk-scroll="duration: 500" uk-icon="icon: arrow-down; ratio: 2" title="Scroll down"></a>
			</div>

		</div>

		<section id="content" class="uk-section uk-flex uk-flex-middle uk-height-viewport" uk-height-viewport>
			<div class="uk-container uk-container-large uk-margin-top uk-flex uk-flex-middle uk-flex-column">

				<div class="uk-grid uk-grid-large uk-grid-divider uk-child-width-1-2@l uk-child-width-1-1" uk-grid>
					<div>

						<div uk-scrollspy="cls: uk-animation-fade">
							<h1 class="sk-spacing uk-heading-small uk-text-lighter">ABOUT ME</h1>
							<p class="uk-text-muted uk-h4 uk-text-justify uk-margin-medium-top">
								{{breaklines (replace (replace about "{age}" age) "{job}" (lowercase job))}}
							</p>
						</div>

						<div uk-scrollspy="cls: uk-animation-fade">
							<h1 class="sk-spacing uk-heading-small uk-text-lighter uk-margin-large-top uk-margin-remove-bottom">CONTACT ME</h1>
							<a class="uk-margin-medium-top uk-button uk-button-large uk-button-default" href="mailto:{{email}}" target="_blank" title="Write an Email">{{email}}</a>
						</div>

					</div>
					<div class="uk-text-right@l" uk-scrollspy="cls: uk-animation-fade">

						<h1 class="sk-spacing uk-heading-small uk-text-lighter uk-margin-remove">MY PROJECTS</h1>
						<div class="uk-margin-medium-top" uk-scrollspy="target: .sk-project; cls: uk-animation-slide-left-small; delay: 100">
							{{#each projects}}
								<h1 class="sk-project uk-flex uk-flex-bottom uk-margin-small">
									<a class="sk-project-title uk-link" href="{{this.link}}" target="_blank" title="Go to site">
										{{this.name}}
									</a>
									<span id="project-type-{{@index}}" class="sk-project-type uk-flex-1 uk-flex-first@l uk-flex-last uk-text-muted uk-text-small uk-margin-small-left uk-margin-small-right">{{this.type}}</span>
								</h1>
							{{/each}}
						</div>

					</div>
				</div>

				<footer class="uk-flex uk-flex-center uk-margin-medium-top" uk-scrollspy="cls: uk-animation-fade">

					<ul class="uk-iconnav">
						{{#each social}}
							<li><a href="{{this.link}}" uk-icon="icon: {{this.icon}}; ratio: 1.5" title="{{this.name}}" target="_blank"></a></li>
						{{/each}}
					</ul>

				</footer>

			</div>
		</section>
	{{/content}}
{{/extend}}
